
.header {
	background:#FFFFFF;
	width: 1900px;
	height: 110px;
}
.header img {
	height: 110px;
	float: left;
	margin-left: 50px;
}
.header ul{
	text-decoration: none;
}
.header ul dd {
	padding-top: 42px;
	float: left;
	margin-left: 200px;
	color: black;
	font-size: 25px;
	text-decoration: none;
}
.intro {
	width: 1900px;
	float: left;
}
.intro img {
	width: 1900px;
	margin-bottom: 10px;
	float: left;
	position: relative;
}
.intro p button {
	border-radius: 15px 50px 30px 5px;
	background:white;
}
.bottomleft {
	position: absolute;
	bottom: 5px;
	left: 30px;
	color: white;
	font-size: 40px;
}
.cacmauxe {
	width: 1800px;
	padding-left: 100px;
}
.cacmauxe h1{
	margin-bottom: 20px;
	padding-left: 50px;
	text-decoration: underline;
}
.cacmauxe img {
	width: 200px;
	padding-left: 10px;
}
.dong1 {
	background:#ffffff;
	width: 1100px;
	height: 700px;
	margin: 210px auto;}
.dong1vb{
	float: 
}
.dong1 img {
	height: 700px;
	float: left;
}
.dong2 {
	width: 1100px;
	height: 700px;
	margin-left: auto;
	margin-right: auto;
	background: #ffffff;
}
.dong2 img {
	float: right;
	height: 700px;
}
.dong2 p {
	font-size: 30px;
	padding-top: 200px;
	padding-left: 20px;
}
.dong2 p1{
	padding-left: 20px;
}
.dong3 {
	height: auto;
	width: 1900px;
	margin: 70px;
	padding-left: 70px;
}
.dong3 img {
	width: 480px;
}
.dong3vb {
	margin-right: 240px;
	float: right;
}